/* about */
/* about.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #2f2f2f;
}
.container{
    max-width: 375px;
    margin: 0 auto;
}

/* 회사소개 */
.about{
    width: 375px;
}
.about .head{
    width: 375px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}
.about .head img{
    width: 250px;
    height: 100px;
}
.about .head h1{
    margin-left: 20px;
}
.about .company{
    width: 375px;
    /* height: 256px; */
    background-color: #B2996B;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 20px;
}
.about .company h1{
    width: 8rem;
    font-size: 16px;
    /* outline: 1px solid red; */
    margin: 30px 200px 20px 50px;
}
.about .company p{
    width: 335px;
    /* outline: 1px solid blue; */
    margin: 0 auto;
}

/* 회사주소 */
.address{
    width: 375px;
    margin-top: 20px;
}
.address .head-address{
    width: 375px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}
.address .head-address img{
    width: 250px;
    height: 100px;
}
.address .head-address h1{
    margin-right: 20px;
}
.address .address-list{
    font-size: 16px;
    width: 335px;
    margin: 0 auto;
}
/* 지도 */
.map{
    margin-top: 20px;
} 