*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
}
.container{
    max-width: 375px;
    margin: 0 auto;
    position: relative;
}
/* footer.css */
.footer {
    width: 375px;
    height: 500px;
    margin: 0 auto;
}

.footer .footer-menu {
    width: 100%;
    height: 40px;
    background-color: #6c7178;
    margin-bottom: 15px;
    font-size: 13px;
}

/* footer-menu */
.footer .footer-menu ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    
}

.footer .footer-menu ul li {
    text-align: center;
}

.footer .footer-menu ul li a {
    color: #fff;
    
}

/* footer-text-box */
.footer .footer-text-box {
    padding: 0 12px;
    margin-bottom: 15px;
}
.footer .footer-text-box a{
    color: #000;
}
.footer .footer-text-box p {
    margin-bottom: 5px;
    color: #000;
}

.footer .footer-text-box2 {
    margin-bottom: 20px;
}

.footer .footer-text-box2 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.footer .footer-text-copy {
    margin-bottom: 15px;
}

.footer .footer-text-copy p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.footer .bold {
    font-weight: 700;
}

.bookMarkList {
    width: 100vw;
    height: 75vh;
    overflow: scroll;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    top: 15%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: none;
}
.bookMarkList h1 {
    width: 100%;
    height: 18px;
    padding-left: 13px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
}

.login {
    width: 375px;
    height: 300px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 100px;
    padding: 20px;
    
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login .login-box input {
    height: 40px;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 330px;
    
}

.login button {
    width: 150px;
    height: 60px;
    background-color: #2f2f2f;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    margin-left: 90px;
}
.login a{
    text-align: center;
}