*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #2f2f2f;
}
.container{
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}
/* splash */
.container .splash-logo{
    width: 100%;
    height: 100vh;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    transition: 3s;
}
.container .splash-logo h1{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}  
/* index.css */
/* 슬라이드 */
.container .main-visual{
    width: 100%;
    position: relative;
    padding-top: 56.25%; 
}


/* 브랜드사이트 */
.brands a .circle{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 20px;
}
.brands .brands_site{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
.brands h1{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* 신제품 */
.products{
    width: 100%;
    padding-bottom: 20px;
}
.products .products-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.products .products-list .product{
    width: 180px;
    height: 215px;
   /*  outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 25px;
    margin-left: 5px;
}
.products .products-list .product img{
    width: 150px;
    height: 150px;
}
.products .products-list .product p{
    font-size: 11px;
    text-align: center;
    margin-top: 25px;
}
.products .products-list .product h4{
    font-size: 13px;
    text-align: center;
}
.products .products-list .product .icon-heart {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 141px;
    top: 121px;
}
.products h1{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.products .products-list .more{
    border: 1px solid rgba(47, 47, 47, 0.5);
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 8px 29px;
    font-size: 14px;
    border-radius: 5px;
    margin: 0 auto;
}
