*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #2f2f2f;
}
.container{
    max-width: 375px;
    margin: 0 auto;
    position: relative;
}
.container h1{
    font-size: 20px;
    margin: 20px 30px;
}
.container .order{
    width: 320px;
    border: 1px solid #2f2f2f;
    border-collapse: collapse;
    margin: 30px auto;
}
.container .order td{
    border: 1px solid #2f2f2f;
    border-collapse: collapse;
    padding: 10px;
}
.container .order tr:last-child{
    height: 200px;
}