/* order.css */

.container .review h3 {
    font-size: 20px;
    margin: 50px 0 30px 0;
}

.container .notice {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin-top: 50px;
}

.container .notice label {
    font-size: 16px;
    margin-right: 10px;
}

.container .notice input {
    width: 300px;
    height: 50px;
    margin: 10px 0;
}

.container .notice textarea {
    width: 300px;
    margin: 10px 0;
}

.container .notice .notice-box {
    text-align: center;
    margin: 20px 0;
}

.container .notice .notice-box button {
    width: 150px;
    height: 60px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border-style: none;
}