/* pay.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #2f2f2f;
}
.container{
    max-width: 375px;
    margin: 0 auto;
}
.container h1{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}
/* 주문정보 */
.product-info img{
    width: 100px;
    height: 100px;
    border: 1px solid rgba(47, 47, 47, 0.5);
    border-radius: 5px;
    padding: 10px;
}
.product-info .info{
    display: flex;
    /* outline: 1px solid red; */
    padding: 20px;
    justify-content: space-around;
}
.product-info .info-text p{
    font-size: 11px;
}
/* 수량변경 */
.product-info form{
    width: 335px;
    display: flex;
    border: 1px solid rgba(47, 47, 47, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 20px;
}
.product-info form button{
    width: 20px;
    text-align: center;
}
.product-info .change-box{
    width: 375px;
}
.product-info form .count{
    width: 2rem;
    border: 1px solid rgba(47, 47, 47, 0.5);
    text-align: center;
}
.product-info .count-text{
    padding: 10px;
    margin-left: 10px;
}
.product-info form .total{
    margin-left: 150px;
    font-size: 16px;
}
/* 결제내역 */
.pay-box{
    width: 375px;
    padding: 0 20px;
}
.pay-box table{
    width: 335px;
    height: 133px;
    border: 1px solid rgba(47, 47, 47, 0.5);
    border-radius: 5px;
    margin-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
}
.pay-box table tr td:nth-child(2){
    text-align: right;
}
.pay-box table tr:nth-child(3) td{
    border-top: 1px solid rgba(47, 47, 47, 0.5);
}

/* 총 결제금액 */
.order{
    width: 335px;
    height: 60px;
    background-color: #2f2f2f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px auto;
}