/* pay.css */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
    }
    a{
        text-decoration: none;
        color: #2f2f2f;
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .container h1{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 25px;
    }
    /* 주문정보 */
    .product-info img{
        width: 100px;
        height: 100px;
        border: 1px solid rgba(47, 47, 47, 0.5);
        border-radius: 5px;
        padding: 10px;
    }
    .product-info .info{
        display: flex;
        /* outline: 1px solid red; */
        padding: 20px;
        justify-content: space-around;
    }
    .product-info .info-text p{
        font-size: 11px;
    }
    /* 수량변경 */
    .info-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-box .info img{
        margin-right: 30px;
    }
    .itemea{
        width: 80%;
        display: flex;
        border: 1px solid rgba(47, 47, 47, 0.5);
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0 20px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .eabox{
        display: flex;
    }
    .eaminus, .eaplus{
        width: 1.5rem;
    }
    #ea{
        margin: 0 10px;
    }
    /* 결제내역 */
    .pay-box{
        width: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pay-box table{
        width: 85%;
        height: 133px;
        border: 1px solid rgba(47, 47, 47, 0.5);
        border-radius: 5px;
        margin-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .pay-box table tr td:nth-child(2){
        text-align: right;
    }
    .pay-box table tr:nth-child(3) td{
        border-top: 1px solid rgba(47, 47, 47, 0.5);
    }
    
    /* 총 결제금액 */
    .order{
        width: 75%;
        height: 60px;
        background-color: #2f2f2f;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
        border-radius: 5px;
        margin: 10px auto;
        
    }
    
    /* input 박스 숨김 */
    .reAll {
        display: none;
    }

    /* 색상변경 select */
    #color {
        border-style: none;
    }

    /* 제품삭제 버튼 */
    .container .product-info .info .form-box {
        display: flex;
        justify-content: space-between;
    }

    .container .product-info .info .form-box button {
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px;
        background-color: transparent;
    }

    @media all and (min-width:768px){
        .product-info img{
            width: 200px;
            height: 200px;
            border: 1px solid rgba(47, 47, 47, 0.5);
            border-radius: 5px;
            padding: 10px;
        }
        .product-info .info{
            display: flex;
            /* outline: 1px solid red; */
            padding: 20px;
            justify-content: space-around;
            align-items: center;
        }
        .product-info .info-text p{
            font-size: 16px;
        }
        .footer{
            max-width: 768px;
        }
        .bottom-box{
            max-width: 768px;
            margin: 0 auto;
        }
        .bottom-nav {
            width: 100%;
            height: 70px;
            position: fixed;
            bottom: 0px;
            background-color: #fff;
        }
        .bottom-nav ul {
            display: flex;
            justify-content: space-around;
            padding-top: 19px;
        }
    }

