<!-- side-btn -->
<div class="side-btn">
    <div class="side-btn-box">
        <a href="../order">
            <p>GO TO</p>
            <p>주문제작</p>
        </a>
        
    </div>   
</div>
<!-- bottom-nav -->
<div class="bottom-nav">
    <ul>
        <li id="home">
            <a href="/">
                <img src="/images/home.png" alt="홈화면">
            </a>
        </li>
        <li id="menu">
            <a href="#">
                <img src="/images/menu.png" alt="메뉴">
            </a>
        </li>
        <li id="basket">
            <a href="#">
                <img src="/images/찜목록.png" alt="찜목록">
            </a>
        </li>
        <li id="user-info">
            <a href="#">
                <img src="/images/개인정보.png" alt="개인정보">
            </a>
        </li>
    </ul>
</div>


<div style="display:none;" class="bookMarkList">
    <h1>찜목록</h1>
</div>

<script src="js/footer.js"></script>