<!-- side-btn -->
<div class="side-btn">
    <div class="side-btn-box">
        <a href="../order">
            <p>GO TO</p>
            <p>주문제작</p>
        </a>
        
    </div>   
</div>
<!-- bottom-nav -->
<div class="bottom-box">
    <div class="bottom-nav">
        <ul>
            <li id="home">
                <a href="/index">
                    <img src="/images/home.svg" alt="홈화면">
                </a>
            </li>
            <li id="menu">
                <a href="#">
                    <img src="/images/menu.svg" alt="메뉴">
                </a>
            </li>
            <li id="basket">
                <a href="#">
                    <img src="/images/찜목록.svg" alt="찜목록">
                </a>
            </li>
            <li class="user-info">
                <a href="#">
                    <img id= "person" src="/images/login.svg" width="32px" alt="개인정보">
                </a>
            </li>
        </ul>
    </div>
</div>



<div style="display:none; flex-wrap: wrap; justify-content: space-around;" class="bookMarkList">
    <h1>찜목록</h1>
</div>

<script src="js/footer.js"></script>