<!-- footer -->
<div class="footer">
    <footer>
        <div class="footer-menu">
            <ul>
                <li>
                    <a href="#">로그인</a>
                </li>
                <li>
                    <a href="#">고객센터</a>
                </li>
                <li>
                    <a href="#">PC버전</a>
                </li>
                <li>
                    <a href="#">NEWS</a>
                </li>
            </ul>
        </div>
        <div class="footer-text-box">
            <p><span class="bold">상호명:</span> (주)길마로 <span class="bold">대표자명:</span> 이만기</p>
            <p><span class="bold">사업장주소:</span> 12918 경기도 하남시 조정대로45(풍산동) 미사셈텀비즈F202호</p>
            <p><span class="bold">대표전화:</span> 02-418-1900 <span class="bold">사업자등록번호:</span> 215-86-45850</p>
            <p><span class="bold">통신판매업 신고번호:</span> 제2013-경기하남-0108호<a href="#">[ 사업자정보확인 ]</a></p>
            <p><span class="bold">개인정보보호책임자:</span> 조성옥</p>
        </div>
        <div class="footer-text-box2">
            <ul>
                <li>
                    <a href="#">회사소개</a>
                </li>
                <li>
                    <a href="#">이용약관</a>
                </li>
                <li>
                    <a href="#"><span class="bold">개인정보처리방침</span></a>
                </li>
                <li>
                    <a href="#">이용안내</a>
                </li>
            </ul>
        </div>
        <div class="footer-text-copy">
            <p>Copyright gilmaro All Rights Reserved.</p>
        </div>
    </footer>
</div>