<!-- footer -->
<div class="footer">
    <footer>
        <div class="footer-menu">
            <ul>
                <li class="user-info">
                    <a  href="#">로그인</a>
                </li>
                <li>
                    <input type="button" value="고객센터" onclick="getInnerCustomer()" class="btn-remove"/>
                </li>
                <li>
                    <a href="http://gilmaro.co.kr/">PC버전</a>
                </li>
                <li>
                    <a href="http://gilmaro.co.kr/%EA%B3%A0%EA%B0%9D%EC%84%BC%ED%84%B0/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD/">NEWS</a>
                </li>
            </ul>
        </div>
        <div class="footer-text-box">
            <p><span class="bold">상호명:</span> (주)길마로 <span class="bold">대표자명:</span> 이만기</p>
            <p><span class="bold">사업장주소:</span> 12918 경기도 하남시 조정대로45(풍산동) 미사셈텀비즈F202호</p>
            <p><span class="bold">대표전화:</span> 02-418-1900 <span class="bold">사업자등록번호:</span> 215-86-45850</p>
            <p><span class="bold">통신판매업 신고번호:</span> 제2013-경기하남-0108호<a href="#">[ 사업자정보확인 ]</a></p>
            <p><span class="bold">개인정보보호책임자:</span> 조성옥</p>
        </div>
        <div class="footer-text-box2">
            <ul>
                <li>
                    <a href="#">회사소개</a>
                </li>
                <li>
                    <a href="#">이용약관</a>
                </li>
                <li>
                    <a href="#"><span class="bold">개인정보처리방침</span></a>
                </li>
                <li>
                    <a href="#">이용안내</a>
                </li>
            </ul>
        </div>
        <div class="footer-text-copy">
            <p>Copyright gilmaro All Rights Reserved.</p>
        </div>

        <!-- 로그인창 -->
        <div style="display:none" class="login">
            <div class="login-box">
                <div class="close-box">
                    <a href="#"><img src="/images/X-btn.png" alt="닫기"></a>
                </div>
                <form action="/login" method="post">
                    <div class="userId-box">
                        <label for="login_userId">아이디</label><br>
                        <input type="text" id="login_userId1" name="login_userId"  required>
                    </div>
                    <div class="userPwd-box">
                        <label for="login_userPwd">비밀번호</label><br>
                        <input type="password" id="login_userPwd" name="login_userPwd"  required>
                    </div>
                    <div style="display: none;"  class="userPwd-box">
                        <label for="url">비밀번호</label><br>
                        <input type="text" id="url" name="url">
                    </div>
                    <button type="submit" id="btn">로그인</button><br>
                    <a href="membership"><p>아직 회원이 아니세요? 회원가입하러 가기</p></a>
                </form>
            </div>
        </div>

    </footer>
</div>

