<!-- header -->
<div class="header">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <div class="logo">
                        <a href="/"><img src="/images/logo.png" alt="로고"></a>
                    </div>
                </li>
                <li>
                    <div class="icon-box">
                        <form action="/search" method="get" class="search_form">
                            <input type="text" name="search" placeholder="제품검색" id="search_input" >
                            <button type="submit" id="search"><img src="/images/돋보기.png" alt="검색"></button>
                        </form>
                        <a href="pay"><img src="/images/장바구니.png" alt="장바구니"></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>            

</div>

