<!-- header -->
<div class="header">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <div class="logo">
                        <a href="#"><img src="images/logo.png" alt="로고"></a>
                    </div>
                </li>
                <li>
                    <div class="icon-box">
                        <a href="#"><img src="images/돋보기.png" alt="검색"></a>
                        <a href="#"><img src="images/장바구니.png" alt="장바구니"></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>

