<!-- header -->
<div class="header">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <div class="logo">
                        <a href="/"><img src="/images/logo.svg" alt="로고"></a>
                    </div>
                </li>
                <li>
                    <div class="icon-box">
                        <a href="#" class="glass"><img src="/images/돋보기.svg" alt="검색"></a>
                        
                        <a href="pay"><img src="/images/장바구니.svg" alt="장바구니"></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>            
    <form action="/search1" method="post" class="search_form">                     
        <div class="searchnav">
            <input type="text" name="search" placeholder="제품검색" id="search1" >
            <button type="submit" id="search2">검색</button>
        </div>    
    </form>
</div>

