<div class="header">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <div class="logo">
                        <a href="/"><img src="/images/logo.png" alt="로고"></a>
                    </div>
                </li>
                <li>
                    <div class="text">
                        <h2>관리자(주문제작)</h2>
                    </div>
                </li>
                <li>
                    <div class="icon-box">
                        <a href="/"><img src="/images/home-white.png" alt="메인화면으로"></a>   
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>