 <!-- site-map -->
 <div class="site-map">
    <div class="site-map-header">
        <div class="title">
            <h1>CATEGORY</h1>
            <a href="#"><img src="images/X-btn.png" alt="닫기"></a>
        </div>
    </div>
    <div class="site-map-nav">
        <ul class="depth1">
            <li>
                <a href="#">

                </a>
                <div class="depth1-title">
                    <a href="about">ABOUT GILMARO</a>
                    <a href="#"><img src="images/arrow-down.png" alt="내리기"></a>
                </div >
                <ul class="depth2">
                    <li><a href="about">회사소개</a></li>
                </ul>
                
            </li>
            <li>
                <div class="depth1-title">
                    <a href="brands">BRANDS</a>
                    <a href="#"><img src="images/arrow-down.png" alt="내리기"></a>
                </div>
                <ul class="depth2">
                    <li><a href="brands">RENOMA</a></li>
                    <li><a href="brands">MOOMIN</a></li>
                    <li><a href="brands">M.U SPORTS</a></li>
                    <li><a href="brands">GIORGIO FERRI</a></li>
                    <li><a href="brands">Anthology</a></li>
                </ul>
            </li>
            <li>
                <div class="depth1-title">
                    <a href="products">PTODUCTS</a>
                    <a href="#"><img src="images/arrow-down.png" alt="내리기"></a>
                </div>
                <ul class="depth2">
                    <li><a href="#">우산</a></li>
                    <li><a href="#">양산</a></li>
                    <li><a href="#">장갑</a></li>
                </ul>
            </li>
            <li>
                <div class="depth1-title">
                    <a href="#">SUPPORT</a>
                    <a href="#"><img src="images/arrow-down.png" alt="내리기"></a>
                </div>
                <ul class="depth2">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">이벤트</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="login-box">
        <a href="#"><img src="images/login.png" alt="로그인">Login</a>
    </div>
