<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>brands</title>
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="css/brands.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css"> 
</head>
<body>
    <div class="container">
        <!-- header -->
        <%- include('components/header.ejs') %> 
        <!-- 본문 -->
        <div class="content-1" id="RENOMA">
            <a href="#" >
                <p class="content-p">instagram | facebook | blog</p>
            </a>
        </div>
        <div class="content-2" id="MOOMIN">
            <a href="#" >
                <p class="content-p">instagram | facebook | blog</p>
            </a>
        </div>
        <div class="content-3" id="gp">
            <a href="#">
                <p class="content-p">instagram | facebook | blog</p>
            </a>
        </div>
        <div class="content-4" id="mu">
            <a href="#">
                <p class="content-p">instagram | facebook | blog</p>
            </a>
        </div>
        <div class="content-5" id="as">
            <a href="#">
                <p class="content-p">instagram | facebook | blog</p>
            </a>
        </div>
        <%- include('components/footer.ejs') %> 
        <%- include('components/bottomNav.ejs') %>
        <%- include('components/sitemap.ejs') %> 
    </div>


    <script src="js/sitemap.js"></script>
</body>
</html>