<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <!-- splash screen -->
        <div class="splash-logo" >
            <img src="images/biglogo.svg" alt="로고">
            <h1 class="logo-text">GILMARO</h1>
        </div>
    </div>
    <script src="js/splash.js"></script>
</body>
</html>